*.FASL
*.fasl
*.lisp-temp

bin/jab
bin/jn.sh

*~
*#
#*
src/core/jabs-asdf/asdf.lisp
src/jabs-core.lisp
src/jabs-loader.lisp
src/wrappers/jab/jab.lisp
tmp/*
target/
.markdown-preview.html
share/plugins/repository/quicklisp/quicklisp.lisp

src/wrappers/jab/make-jab.lisp